body {
	text-align: center;
	color: ;
	width: 960px;
	background-color: #777;
}

 {
	background-color: #ebebeb;

}

header {
	height: 40px;
	width: 960px;
	background-color: #ebebeb;
}

nav {
	height: 40px;
	width: 960px;
	background-color: #ebebeb;
}

section {
	height: 120px;
	width: 495px;
	background-color: #ebebeb;
	float: left;
}

article {
	height: 70px;
	width: 495px;
	background-color: #777;
	float: left;
}

p {
	height: 20px;
	width: ;
	background-color: #ebebeb;
	float: left;
}
aside {
	height: 120px;
	width: 495px;
	background-color: #ebebeb;
	float: left;
}

footer {
	height: 40px;
	width: 960px;
	background-color: #ebebeb;
	float: clear: both;
}

.class